In [4]:
import pandas as pd # DataFerame , csv read 
from os import listdir

In [22]:
h = listdir('Traders csv data')

In [27]:
csv = pd.read_csv('Traders csv data/'+h[15])

In [37]:
csv

    Time;Type;Volume;Symbol;Price;Time;Price;Commission;Swap;Profit
0    2022.04.05 10:53:05;Sell;0.02;EURJPY;135.057;2...
1    2022.04.05 10:53:04;Sell;0.02;EURJPY;135.057;2...
2    2022.04.05 10:21:24;Sell;0.02;EURJPY;134.753;2...
3    2022.04.05 10:21:23;Sell;0.02;EURJPY;134.753;2...
4    2022.04.05 10:09:18;Sell;0.02;EURUSD;1.09746;2...
..                                                 ...
713  2022.01.12 15:13:56;Buy;0.05;GBPUSD;1.36464;20...
714  2022.01.12 15:13:58;Buy;0.05;GBPUSD;1.36455;20...
715  2022.01.12 15:14:00;Buy;0.05;GBPUSD;1.36453999...
716  2022.01.12 15:14:01;Buy;0.05;GBPUSD;1.36452;20...
717             2022.01.11 15:12:12;Balance;;;;;;;;500

[718 rows x 1 columns]

In [46]:
csv.columns.values[0].split(';')

['Time',
 'Type',
 'Volume',
 'Symbol',
 'Price',
 'Time',
 'Price',
 'Commission',
 'Swap',
 'Profit']

In [48]:
csv.iloc[717,0].split(';')

['2022.01.11 15:12:12', 'Balance', '', '', '', '', '', '', '', '500']

In [50]:
h = {}
for i in csv.index:
    h[i] = csv.iloc[i,0].split(';')

In [53]:
g = pd.DataFrame(
    h , index=csv.columns.values[0].split(';')
)

In [57]:
gg = pd.DataFrame(
    g.transpose(),
    columns=g.index
)

In [62]:
gg

,Time,Type,Volume,Symbol,Price,Time,Price,Commission,Swap,Profit
0,2022.04.05 10:53:05,Sell,0.02,EURJPY,135.057,2022.04.05 16:00:28,134.681,,,6.13
1,2022.04.05 10:53:04,Sell,0.02,EURJPY,135.057,2022.04.05 16:00:24,134.681,,,6.13
2,2022.04.05 10:21:24,Sell,0.02,EURJPY,134.753,2022.04.05 16:00:23,134.688,,,1.06
3,2022.04.05 10:21:23,Sell,0.02,EURJPY,134.753,2022.04.05 16:00:21,134.675,,,1.27
4,2022.04.05 10:09:18,Sell,0.02,EURUSD,1.09746,2022.04.05 13:42:10,1.09616,,,2.6
...,...,...,...,...,...,...,...,...,...,...
713,2022.01.12 15:13:56,Buy,0.05,GBPUSD,1.36464,2022.01.13 10:35:36,1.3740700000000001,,-0.65,47.15
714,2022.01.12 15:13:58,Buy,0.05,GBPUSD,1.36455,2022.01.13 10:35:34,1.37413,,-0.65,47.9
715,2022.01.12 15:14:00,Buy,0.05,GBPUSD,1.3645399999999999,2022.01.13 10:35:31,1.37413,,-0.65,47.95
716,2022.01.12 15:14:01,Buy,0.05,GBPUSD,1.36452,2022.01.13 10:35:29,1.37412,,-0.65,48
717,2022.01.11 15:12:12,Balance,,,,,,,,500

In [47]:
for i in  csv.columns.values[0].split(';'):

Time
Type
Volume
Symbol
Price
Time
Price
Commission
Swap
Profit