In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
from Data_Preparation import Preparation
data_set = Preparation(folder_path = 'Traders csv data') 
from datetime import date
from backtest.data_con.data_con import DataCon
dc = DataCon('http://185.235.43.95:6263')

[2022-05-05 16:20:32,682| INFO| create_logger()] ************ new session ************

In [ ]:
def C_PositionReturns(data:pd.DataFrame)-> pd.DataFrame:
    data['Position Returns (in pip)'] = ((data['Price'].iloc[:,1] - data['Price'].iloc[:,0]) 
    /data['Price'].iloc[:,0]).values * 10000
    targhet_type_list = ['Sell Stop','Sell','Sell Limit']
    for i in np.arange(0,data.shape[0]):
        if data.loc[i,'Type'] in targhet_type_list:
            data.loc[i,'Position Returns (in pip)'] = data.loc[i,'Position Returns (in pip)'] * -1
    return data

In [2]:
data0 = data_set.Get

In [4]:
data.c

Index(['Time', 'Type', 'Volume', 'Symbol', 'Price', 'S/L', 'T/P', 'Time',
       'Price', 'Commission', 'Swap', 'Profit', 'Comment', 'Balance'],
      dtype='object')

In [63]:
data= (data.loc[:,['Commission','Swap']]*-1).sum(1)

In [6]:
data['Position Returns (in pip)'] = ((data['Price'].iloc[:,1] - data['Price'].iloc[:,0]) / data['Price'].iloc[:,0]).values * 10000

In [7]:
data

,Time,Type,Volume,Symbol,Price,S/L,T/P,Time,Price,Commission,Swap,Profit,Comment,Balance,Position Returns (in pip)
0,2021-02-04 20:14:16,Balance,0.00,0,0.00000,0.00000,0.00000,0,0.00000,0,0,17470.80,0,17470.80,NaN
1,2021-02-04 21:30:01,Buy,0.05,EURCHF,1.08125,1.07860,1.08150,2021-02-04 21:57:24,1.08150,0,0,11.99,[tp],17482.79,2.312139
2,2021-02-04 20:16:42,Buy,0.05,EURCHF,1.08149,1.07884,1.08174,2021-02-04 21:59:29,1.08174,0,0,11.98,[tp],17494.77,2.311626
3,2021-02-04 23:00:09,Sell,0.01,GBPUSD,1.36759,0.00000,0.00000,2021-02-04 23:20:02,1.36713,0,0,3.98,0,17498.75,-3.363581
4,2021-02-04 23:00:00,Sell,0.01,GBPUSD,1.36758,0.00000,0.00000,2021-02-04 23:35:22,1.36705,0,0,4.59,0,17503.34,-3.875459
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3469,2022-03-15 23:00:00,Sell,0.01,GBPUSD,1.30471,0.00000,0.00000,2022-04-08 10:12:43,1.30318,0,0,13.48,0,6410.96,-11.726744
3470,2022-03-15 23:00:01,Sell,0.01,GBPUSD,1.30470,0.00000,0.00000,2022-04-08 10:12:43,1.30318,0,0,13.40,0,6424.36,-11.650188
3471,2022-03-15 23:00:02,Sell,0.01,GBPUSD,1.30470,0.00000,0.00000,2022-04-08 10:12:43,1.30321,0,0,13.13,0,6437.49,-11.420250
3472,2022-03-15 23:00:02,Sell,0.01,GBPUSD,1.30470,0.00000,0.00000,2022-04-08 10:12:43,1.30321,0,0,13.13,0,6450.62,-11.420250
3473,2022-03-15 23:00:02,Sell,0.01,GBPUSD,1.30472,0.00000,0.00000,2022-04-08 10:12:44,1.30316,0,0,13.75,0,6464.37,-11.956588

In [82]:
data.dropna(inplace=True)

In [84]:
data['lav_profit'] / data['Position Returns (in pip)']

1       0.250160
2      -7.680000
3      10.347373
4            inf
5       2.249816
         ...
933   -56.049978
934   -63.693844
935   -16.395806
936    33.233418
937    -0.000000
Length: 908, dtype: float64

In [86]:
data.loc[:,['lav_profit','Position Returns (in pip)']]

     lav_profit  Position Returns (in pip)
1          0.38                   1.519030
2        580.00                 -75.520833
3        115.56                  11.168052
4         25.47                   0.000000
5        591.95                 263.110389
..          ...                        ...
933      925.55                 -16.512941
934      145.55                  -2.285150
935      783.93                 -47.812836
936     -182.72                  -5.498080
937        0.00                -216.384971

[908 rows x 2 columns]

In [5]:
def C_PositionReturns(data:pd.DataFrame)-> pd.DataFrame:
    data['Position Returns (in pip)'] = ((data['Price'].iloc[:,1] - data['Price'].iloc[:,0]) 
    /data['Price'].iloc[:,0]).values * 10000
    targhet_type_list = ['Sell Stop','Sell','Sell Limit']
    for i in np.arange(0,data.shape[0]):
        if data.loc[i,'Type'] in targhet_type_list:
            data.loc[i,'Position Returns (in pip)'] = data.loc[i,'Position Returns (in pip)'] * -1
    return data