# Get Test Trader Data

In [1]:
from Data_Operation import Preparation

In [2]:
data_set = Preparation(folder_path='Test_trader_data')

In [3]:
data_set.Get

,Time,Type,Volume,Symbol,Price,S/L,T/P,Time,Price,Commission,Swap,Profit,Comment
0,2021-02-01 00:32:36,Balance,0.00,0,0.00000,0,0.00000,0,0.00000,0.00,0.0,10000.00,Deposit
1,2021-02-01 00:35:18,Balance,0.00,0,0.00000,0,0.00000,0,0.00000,0.00,0.0,14000.00,Deposit
2,2021-02-01 02:40:01,Sell,0.07,EURUSD,1.21305,0,1.21196,2021-02-01 09:03:27,1.21194,-0.56,0.0,7.77,[tp]
3,2021-02-01 09:05:02,Sell,0.07,EURUSD,1.21239,0,1.21131,2021-02-01 09:29:44,1.21131,-0.56,0.0,7.56,[tp]
4,2021-02-01 09:30:02,Sell,0.07,EURUSD,1.21137,0,1.21029,2021-02-01 09:50:39,1.21026,-0.56,0.0,7.77,[tp]
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6684,2022-04-08 10:15:02,Buy,0.06,EURUSD,1.08751,0,1.08723,2022-04-08 11:04:46,1.08726,-0.48,0.0,-1.50,[tp]
6685,2022-04-08 10:35:02,Buy,0.12,EURUSD,1.08647,0,1.08723,2022-04-08 11:04:46,1.08726,-0.96,0.0,9.48,[tp]
6686,2022-04-08 09:45:01,Buy,0.06,AUDNZD,1.08797,0,1.08855,2022-04-08 11:43:14,1.08856,-0.48,0.0,2.46,[tp]
6687,2022-04-08 11:05:02,Buy,0.06,EURUSD,1.08732,0,1.08840,2022-04-08 12:09:33,1.08662,-0.48,0.0,-4.20,0
6688,2022-04-08 10:30:03,Sell,0.06,EURUSD,1.08675,0,1.08567,2022-04-08 12:09:34,1.08663,-0.48,0.0,0.72,0

# Get Market Data

In [4]:
from Data_Operation import Market_Data

In [7]:
ETHUSD = Market_Data(
    Symbol='ETHUSD',
    Start_Date= "2022-01-01T00:00:00.000",
    End_Data="2022-02-01T00:00:00.000",
    Interval="1H"
).send_post_request

In [8]:
ETHUSD

                   time    open     high      low   close     volume
0   2022-01-01 00:00:00  3677.6  3729.00  3677.60  3723.0   495.8525
1   2022-01-01 01:00:00  3723.9  3747.90  3715.21  3725.6   602.2741
2   2022-01-01 02:00:00  3725.6  3736.66  3722.70  3728.5   378.6126
3   2022-01-01 03:00:00  3728.3  3736.20  3722.50  3724.9    85.6928
4   2022-01-01 04:00:00  3725.8  3727.22  3708.10  3708.6   429.0018
..                  ...     ...      ...      ...     ...        ...
740 2022-01-31 20:00:00  2676.7  2697.10  2664.30  2687.4  1193.0409
741 2022-01-31 21:00:00  2687.4  2690.90  2675.70  2681.4   429.3775
742 2022-01-31 22:00:00  2682.4  2707.90  2680.30  2682.1   879.4058
743 2022-01-31 23:00:00  2682.6  2692.30  2680.10  2688.8   505.3292
744 2022-02-01 00:00:00  2689.6  2690.20  2685.10  2685.4    18.6675

[745 rows x 6 columns]