In [11]:
from Data_Preparation import Preparation
from Evaluation_Attributes.Duration_Consistency import Duration_Consistency
from Evaluation_Attributes.Open_Close_Strategy  import OS_CS
import pandas as pd

%matplotlib qt

In [3]:
data_set = Preparation(folder_path = 'Traders csv data')

In [5]:
data_set.Get

,Time,Type,Volume,Symbol,Price,S/L,T/P,Time,Price,Commission,Swap,Profit,Comment
0,2021-02-01 00:32:36,Balance,0.00,0,0.00000,0,0.00000,0,0.00000,0,0,10000.0,Deposit
1,2021-02-01 00:35:18,Balance,0.00,0,0.00000,0,0.00000,0,0.00000,0,0,14000.0,Deposit
2,2021-02-01 02:40:01,Sell,0.07,EURUSD,1.21305,0,1.21196,2021-02-01 09:03:27,1.21194,-0.56,0,7.77,[tp]
3,2021-02-01 09:05:02,Sell,0.07,EURUSD,1.21239,0,1.21131,2021-02-01 09:29:44,1.21131,-0.56,0,7.56,[tp]
4,2021-02-01 09:30:02,Sell,0.07,EURUSD,1.21137,0,1.21029,2021-02-01 09:50:39,1.21026,-0.56,0,7.77,[tp]
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6684,2022-04-08 10:15:02,Buy,0.06,EURUSD,1.08751,0,1.08723,2022-04-08 11:04:46,1.08726,-0.48,0,-1.50,[tp]
6685,2022-04-08 10:35:02,Buy,0.12,EURUSD,1.08647,0,1.08723,2022-04-08 11:04:46,1.08726,-0.96,0,9.48,[tp]
6686,2022-04-08 09:45:01,Buy,0.06,AUDNZD,1.08797,0,1.08855,2022-04-08 11:43:14,1.08856,-0.48,0,2.46,[tp]
6687,2022-04-08 11:05:02,Buy,0.06,EURUSD,1.08732,0,1.08840,2022-04-08 12:09:33,1.08662,-0.48,0,-4.20,0
6688,2022-04-08 10:30:03,Sell,0.06,EURUSD,1.08675,0,1.08567,2022-04-08 12:09:34,1.08663,-0.48,0,0.72,0

In [6]:
Duration_Consistency(data_set.Get).plot

In [12]:
pd.DataFrame(OS_CS(data_set.Get).find_open_dates())

,0,1,2,3,4,5,6,7,8,9
0,2020-09-24 13:18:56.000,2020-09-24 13:18:56.000,2020-09-24 13:18:56.000,2020-09-24 13:18:56.000,2020-09-24 13:18:56.000,2020-09-24 13:18:56.000,2020-09-24 13:18:56.000,2020-09-24 13:18:56.000,2020-09-24 13:18:56.000,2020-09-24 13:18:56.000
1,2020-09-24 13:18:56.000,2020-09-24 13:18:56.000,2020-09-24 13:18:56.000,2020-09-24 13:18:56.000,2020-09-24 13:18:56.000,2020-09-24 13:18:56.000,2020-09-24 13:18:56.000,2020-09-24 13:18:56.000,2020-09-24 13:18:56.000,2020-09-24 13:18:56.000
2,2020-09-24 13:18:57.000,2020-09-24 13:18:57.000,2020-09-24 13:18:57.000,2020-09-24 13:18:57.000,2020-09-24 13:18:57.000,2020-09-24 13:18:57.000,2020-09-24 13:18:57.000,2020-09-24 13:18:57.000,2020-09-24 13:18:57.000,2020-09-24 13:18:57.000
3,2020-09-24 15:30:16.000,2020-09-24 15:36:17.000,2020-09-24 15:42:18.000,2020-09-24 15:48:19.000,2020-09-24 15:54:20.000,2020-09-24 16:06:22.000,2020-09-24 16:12:23.000,2020-09-24 16:18:24.000,2020-09-24 16:24:25.000,2020-09-24 16:30:26.000
4,2020-09-24 15:30:19.000,2020-09-24 15:36:19.800,2020-09-24 15:42:20.600,2020-09-24 15:48:21.400,2020-09-24 15:54:22.200,2020-09-24 16:06:23.800,2020-09-24 16:12:24.600,2020-09-24 16:18:25.400,2020-09-24 16:24:26.200,2020-09-24 16:30:27.000
...,...,...,...,...,...,...,...,...,...,...
1402,2022-03-01 11:22:29.000,2022-03-01 20:17:59.400,2022-03-02 05:13:29.800,2022-03-02 14:09:00.200,2022-03-02 23:04:30.600,2022-03-03 16:55:31.400,2022-03-04 01:51:01.800,2022-03-04 10:46:32.200,2022-03-04 19:42:02.600,2022-03-05 04:37:33.000
1403,2022-03-02 04:59:57.500,2022-03-02 12:44:58.000,2022-03-02 20:29:58.500,2022-03-03 04:14:59.000,2022-03-03 11:59:59.500,2022-03-04 03:30:00.500,2022-03-04 11:15:01.000,2022-03-04 19:00:01.500,2022-03-05 02:45:02.000,2022-03-05 10:30:02.500
1404,2022-03-03 01:15:00.000,2022-03-03 07:39:00.400,2022-03-03 14:03:00.800,2022-03-03 20:27:01.200,2022-03-04 02:51:01.600,2022-03-04 15:39:02.400,2022-03-04 22:03:02.800,2022-03-05 04:27:03.200,2022-03-05 10:51:03.600,2022-03-05 17:15:04.000
1405,2022-03-03 04:14:57.000,2022-03-03 10:26:57.600,2022-03-03 16:38:58.200,2022-03-03 22:50:58.800,2022-03-04 05:02:59.400,2022-03-04 17:27:00.600,2022-03-04 23:39:01.200,2022-03-05 05:51:01.800,2022-03-05 12:03:02.400,2022-03-05 18:15:03.000
1406,2022-03-03 04:59:57.000,2022-03-03 11:08:57.600,2022-03-03 17:17:58.200,2022-03-03 23:26:58.800,2022-03-04 05:35:59.400,2022-03-04 17:54:00.600,2022-03-05 00:03:01.200,2022-03-05 06:12:01.800,2022-03-05 12:21:02.400,2022-03-05 18:30:03.000

In [13]:
pd.DataFrame(OS_CS(data_set.Get).find_close_dates())

,0,1,2,3,4,5,6,7,8,9
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2020-06-16 01:43:36.500000,2020-06-16 01:48:14.800000,2020-06-16 01:52:53.100000,2020-06-16 01:57:31.400000,2020-06-16 02:02:09.700000,2020-06-16 02:11:26.300000,2020-06-16 02:16:04.600000,2020-06-16 02:20:42.900000,2020-06-16 02:25:21.200000,2020-06-16 02:29:59.500000
3,2020-06-17 00:27:57,2020-06-17 00:36:29.800000,2020-06-17 00:45:02.600000,2020-06-17 00:53:35.400000,2020-06-17 01:02:08.200000,2020-06-17 01:19:13.800000,2020-06-17 01:27:46.600000,2020-06-17 01:36:19.400000,2020-06-17 01:44:52.200000,2020-06-17 01:53:25
4,2020-06-19 00:13:42.500000,2020-06-19 00:16:39,2020-06-19 00:19:35.500000,2020-06-19 00:22:32,2020-06-19 00:25:28.500000,2020-06-19 00:31:21.500000,2020-06-19 00:34:18,2020-06-19 00:37:14.500000,2020-06-19 00:40:11,2020-06-19 00:43:07.500000
...,...,...,...,...,...,...,...,...,...,...
471,2022-03-30 00:59:27.500000,2022-03-30 01:18:49.800000,2022-03-30 01:38:12.100000,2022-03-30 01:57:34.400000,2022-03-30 02:16:56.700000,2022-03-30 02:55:41.300000,2022-03-30 03:15:03.600000,2022-03-30 03:34:25.900000,2022-03-30 03:53:48.200000,2022-03-30 04:13:10.500000
472,2022-03-31 20:39:20.500000,2022-03-31 20:52:30.400000,2022-03-31 21:05:40.300000,2022-03-31 21:18:50.200000,2022-03-31 21:32:00.100000,2022-03-31 21:58:19.900000,2022-03-31 22:11:29.800000,2022-03-31 22:24:39.700000,2022-03-31 22:37:49.600000,2022-03-31 22:50:59.500000
473,2022-03-31 23:00:54.500000,2022-03-31 23:01:05.200000,2022-03-31 23:01:15.900000,2022-03-31 23:01:26.600000,2022-03-31 23:01:37.300000,2022-03-31 23:01:58.700000,2022-03-31 23:02:09.400000,2022-03-31 23:02:20.100000,2022-03-31 23:02:30.800000,2022-03-31 23:02:41.500000
474,2022-04-05 19:55:08.500000,2022-04-05 20:05:51.800000,2022-04-05 20:16:35.100000,2022-04-05 20:27:18.400000,2022-04-05 20:38:01.700000,2022-04-05 20:59:28.300000,2022-04-05 21:10:11.600000,2022-04-05 21:20:54.900000,2022-04-05 21:31:38.200000,2022-04-05 21:42:21.500000
475,2022-04-05 23:03:10,2022-04-05 23:03:48,2022-04-05 23:04:26,2022-04-05 23:05:04,2022-04-05 23:05:42,2022-04-05 23:06:58,2022-04-05 23:07:36,2022-04-05 23:08:14,2022-04-05 23:08:52,2022-04-05 23:09:30