In [1]:
from Data_Preparation import Preparation
from Evaluation_Attributes.Duration_Consistency import Duration_Consistency
from Evaluation_Attributes.Open_Close_Strategy  import OS_CS
import pandas as pd

%matplotlib inline

In [2]:
data_set = Preparation(folder_path = 'Traders csv data')

In [3]:
df= data_set.Get

In [6]:
Duration_Consistency(df).plot

In [4]:
open_close_strategy = OS_CS(df, 'XAUUSD')

In [5]:
open_dates = open_close_strategy.find_dates(open_strategy=True)
open_dates_prices = open_close_strategy.find_prices(open_dates)
open_dates_prices

,0,1,2,3,4,5,6,7,8,9
0,1792.906,1792.873,1793.035,1792.945,1793.045,1792.615,1792.893,1793.065,1793.265,1793.085
1,1792.019,1793.345,1793.565,1795.019,1795.263,1794.885,1794.985,1794.255,1793.865,1793.685
2,1793.505,1793.505,1793.505,1793.505,1793.505,1795.348,1794.959,1794.949,1794.859,1794.935
3,1793.505,1793.505,1793.505,1793.505,1793.505,1794.959,1794.829,1794.915,1794.909,1794.909
4,1793.505,1793.505,1793.505,1793.505,1793.505,1794.959,1794.829,1794.915,1794.909,1794.909
...,...,...,...,...,...,...,...,...,...,...
3179,1939.228,1969.848,2050.168,1985.935,1988.248,1933.278,1921.198,1919.598,1957.948,1957.688
3180,1939.228,1969.848,2050.168,1985.935,1988.248,1933.278,1921.198,1919.598,1957.948,1957.688
3181,1939.228,1969.848,2050.168,1985.935,1988.248,1933.278,1921.198,1919.598,1957.948,1957.688
3182,1939.228,1969.848,2050.168,1985.935,1988.248,1933.278,1921.198,1919.598,1957.948,1957.688
3183,1939.228,1969.848,2050.168,1985.935,1988.248,1933.278,1921.198,1919.598,1957.948,1957.688

In [6]:
close_dates = open_close_strategy.find_dates(open_strategy= False)
close_dates_prices = open_close_strategy.find_prices(close_dates)
close_dates_prices

,0,1,2,3,4,5,6,7,8,9
0,1793.085,1792.838,1792.408,1792.433,1793.415,1793.505,1793.505,1793.505,1793.505,1793.505
1,1793.685,1792.908,1793.175,1793.175,1792.408,1793.505,1793.505,1793.505,1793.505,1793.505
2,1794.935,1794.709,1794.909,1794.639,1794.909,1794.895,1794.905,1795.345,1795.219,1795.223
3,1794.909,1795.165,1795.035,1795.219,1795.353,1794.819,1795.133,1795.105,1794.215,1795.255
4,1794.909,1795.165,1795.035,1795.219,1795.353,1794.819,1795.133,1795.105,1794.215,1795.255
...,...,...,...,...,...,...,...,...,...,...
3179,1957.688,1919.613,1935.428,1924.778,1921.368,1947.138,1970.368,1973.218,1973.218,1944.308
3180,1957.688,1919.613,1935.428,1924.778,1921.368,1947.138,1970.368,1973.218,1973.218,1944.308
3181,1957.688,1919.613,1935.428,1924.778,1921.368,1947.138,1970.368,1973.218,1973.218,1944.308
3182,1957.688,1919.613,1935.428,1924.778,1921.368,1947.138,1970.368,1973.218,1973.218,1944.308
3183,1957.688,1919.613,1935.428,1924.778,1921.368,1947.138,1970.368,1973.218,1973.218,1944.308

In [1]:
from datetime import date
from backtest.data_con.data_con import DataCon
dc = DataCon('http://185.235.43.95:6263')

[2022-04-25 14:10:02,222| INFO| create_logger()] ************ new session ************

In [2]:
dc.get_m1_data('AAPL', date(2019, 1, 2))

               date_time     open     high      low    close
0    2019-01-02 00:30:00  154.943  155.262  154.583  154.842
1    2019-01-02 00:31:00  154.852  155.533  154.842  155.203
2    2019-01-02 00:32:00  155.203  155.323  154.823  154.853
3    2019-01-02 00:33:00  154.853  154.883  154.610  154.678
4    2019-01-02 00:34:00  154.712  155.018  154.633  154.802
..                   ...      ...      ...      ...      ...
385  2019-01-02 06:55:00  157.392  157.722  157.372  157.702
386  2019-01-02 06:56:00  157.702  157.703  157.602  157.642
387  2019-01-02 06:57:00  157.643  157.673  157.582  157.633
388  2019-01-02 06:58:00  157.632  157.653  157.532  157.539
389  2019-01-02 06:59:00  157.543  158.003  157.542  157.853

[390 rows x 5 columns]