In [1]:
import pandas as pd
from os import listdir

In [2]:
def read_folder(path_folder:str)-> list:
        csvfile_names = []
        for asset in listdir(path_folder):
            if asset.find('csv') != -1 : csvfile_names.append(asset)
        if len(csvfile_names) == 0 :
            raise TypeError (
                'this class defined for find and read csv file in floder path '
            )
        return csvfile_names

In [3]:
csvfile_list= read_folder('./../Moderate_risk')

In [4]:
csvfile_list[0]

'DOTUSDT.csv'

In [5]:
# Read csv
df = pd.read_csv('./../Moderate_risk'+'/'+csvfile_list[0])
df.datetime = pd.to_datetime(df.datetime).dt.round('1s')
df

,datetime,value,cash,available_base,trade_type,buy_or_sell_price,received_amounts,paid_amounts,payment_commission,commission_type,buy_counts,sell_counts,stop_loss_counts,buy_and_hold
0,2021-04-24 04:00:00,1099.549546,474.171536,1.970501e+01,BUY,31.7281,19.705013,625.828464,0.625828,QUOTE,1,0,0,1100.000000
1,2021-04-24 08:00:00,1095.453648,1095.453648,1.869996e-09,SELL,31.5607,621.282112,19.705013,0.019705,BASE,1,1,0,1094.468286
2,2021-04-24 12:00:00,1095.453648,1095.453648,1.869996e-09,NaN,NaN,NaN,NaN,NaN,NaN,1,1,0,1033.109935
3,2021-04-24 16:00:00,1094.932806,473.160223,2.070422e+01,BUY,30.0263,20.704220,622.293425,0.622293,QUOTE,2,1,0,1040.877210
4,2021-04-24 20:00:00,1097.179837,1097.179836,6.579999e-09,SELL,30.1699,624.019613,20.704220,0.020704,BASE,2,2,0,1045.511233
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2388,2022-05-27 04:00:00,1382.660253,1382.660253,3.119965e-09,NaN,NaN,NaN,NaN,NaN,NaN,292,290,0,312.631944
2389,2022-05-27 08:00:00,1382.660253,1382.660253,3.119965e-09,NaN,NaN,NaN,NaN,NaN,NaN,292,290,0,307.086366
2390,2022-05-27 12:00:00,1382.660253,1382.660253,3.119965e-09,NaN,NaN,NaN,NaN,NaN,NaN,292,290,0,335.160853
2391,2022-05-27 16:00:00,1382.660253,1382.660253,3.119965e-09,NaN,NaN,NaN,NaN,NaN,NaN,292,290,0,331.001670
2392,2022-05-27 20:00:00,1382.660253,1382.660253,3.119965e-09,NaN,NaN,NaN,NaN,NaN,NaN,292,290,0,320.950310

In [6]:
df= df.dropna(subset=['trade_type']).reset_index()

In [7]:
df

,index,datetime,value,cash,available_base,trade_type,buy_or_sell_price,received_amounts,paid_amounts,payment_commission,commission_type,buy_counts,sell_counts,stop_loss_counts,buy_and_hold
0,0,2021-04-24 04:00:00,1099.549546,474.171536,1.970501e+01,BUY,31.7281,19.705013,625.828464,0.625828,QUOTE,1,0,0,1100.000000
1,1,2021-04-24 08:00:00,1095.453648,1095.453648,1.869996e-09,SELL,31.5607,621.282112,19.705013,0.019705,BASE,1,1,0,1094.468286
2,3,2021-04-24 16:00:00,1094.932806,473.160223,2.070422e+01,BUY,30.0263,20.704220,622.293425,0.622293,QUOTE,2,1,0,1040.877210
3,4,2021-04-24 20:00:00,1097.179837,1097.179836,6.579999e-09,SELL,30.1699,624.019613,20.704220,0.020704,BASE,2,2,0,1045.511233
4,6,2021-04-25 04:00:00,1096.893695,473.635503,2.149062e+01,BUY,28.9857,21.490624,623.544333,0.623544,QUOTE,3,2,0,1005.184485
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
577,2362,2022-05-22 20:00:00,1444.693965,1444.693965,2.139984e-09,SELL,9.9800,1066.608984,106.981629,0.106982,BASE,290,288,0,346.252009
578,2363,2022-05-23 00:00:00,1443.622383,373.111324,1.053653e+02,BUY,10.1600,105.365262,1071.582641,1.071583,QUOTE,291,288,0,352.144185
579,2369,2022-05-24 00:00:00,1413.079101,1413.079101,9.709993e-09,SELL,9.8800,1039.967777,105.365262,0.105365,BASE,291,289,0,342.439424
580,2370,2022-05-24 04:00:00,1412.027204,361.182889,1.049795e+02,BUY,10.0100,104.979452,1051.896211,1.051896,QUOTE,292,289,0,346.945206
581,2383,2022-05-26 08:00:00,1382.660253,1382.660253,3.119965e-09,SELL,9.7400,1021.477363,104.979452,0.104979,BASE,292,290,0,337.587044

In [191]:
df.loc[370:381]

,index,datetime,value,cash,available_base,trade_type,buy_or_sell_price,received_amounts,paid_amounts,payment_commission,commission_type,buy_counts,sell_counts,stop_loss_counts,buy_and_hold
370,1302,2021-11-27 04:00:00,1624.395831,588.947037,2.962657e+01,BUY,34.95,29.626575,1036.485279,1.036485,QUOTE,186,185,0,1211.362133
371,1303,2021-11-27 08:00:00,1622.768443,1622.768443,1.330001e-09,SELL,34.93,1033.821406,29.626575,0.029627,BASE,186,186,0,1210.322337
372,1319,2021-11-30 00:00:00,1621.725076,579.401147,2.809498e+01,BUY,37.10,28.094985,1043.367296,1.043367,QUOTE,187,186,0,1285.880833
373,1321,2021-11-30 08:00:00,1585.184847,566.305556,2.846032e+01,BUY,35.81,0.365331,13.095591,0.013096,QUOTE,188,186,0,1240.823014
374,1323,2021-11-30 16:00:00,1638.391316,585.781106,2.794293e+01,SELL,37.68,19.475550,0.517384,0.000517,BASE,188,187,0,1305.636954
375,1331,2021-12-02 00:00:00,1612.953006,575.538667,2.822128e+01,BUY,36.76,0.278351,10.242439,0.010242,QUOTE,189,187,0,1274.096480
376,1332,2021-12-02 04:00:00,1567.218075,559.085042,2.868904e+01,BUY,35.14,0.467762,16.453625,0.016454,QUOTE,190,187,0,1217.947506
377,1342,2021-12-03 20:00:00,1522.441120,542.093306,2.919440e+01,BUY,33.59,0.505351,16.991735,0.016992,QUOTE,191,187,0,1163.878123
378,1344,2021-12-04 04:00:00,1459.066491,519.303784,2.991922e+01,BUY,31.41,0.724824,22.789523,0.022790,QUOTE,192,187,0,1088.666226
379,1345,2021-12-04 08:00:00,1350.129056,487.830181,3.105145e+01,BUY,27.77,1.132234,31.473603,0.031474,QUOTE,193,187,0,962.504332
380,1346,2021-12-04 12:00:00,1345.544309,1345.544309,2.539998e-09,SELL,27.65,857.714128,31.051454,0.031051,BASE,193,188,0,958.345149
381,1348,2021-12-04 20:00:00,1344.391659,482.943776,2.900498e+01,BUY,29.71,29.004979,862.600533,0.862601,QUOTE,194,188,0,1029.397864

Assign a number to each complete trade

In [13]:
df['trade_no']= df['Volume']= None

In [15]:
 # Assign a trade number to each complete sell-offs (where trader has no open opistions)
 df.loc[df.available_base < 0.0001, 'trade_no']= df[df.available_base < 0.0001].reset_index().index

In [16]:
df

,index,datetime,value,cash,available_base,trade_type,buy_or_sell_price,received_amounts,paid_amounts,payment_commission,commission_type,buy_counts,sell_counts,stop_loss_counts,buy_and_hold,trade_no,Volume
0,0,2021-04-24 04:00:00,1099.549546,474.171536,1.970501e+01,BUY,31.7281,19.705013,625.828464,0.625828,QUOTE,1,0,0,1100.000000,None,None
1,1,2021-04-24 08:00:00,1095.453648,1095.453648,1.869996e-09,SELL,31.5607,621.282112,19.705013,0.019705,BASE,1,1,0,1094.468286,0,None
2,3,2021-04-24 16:00:00,1094.932806,473.160223,2.070422e+01,BUY,30.0263,20.704220,622.293425,0.622293,QUOTE,2,1,0,1040.877210,None,None
3,4,2021-04-24 20:00:00,1097.179837,1097.179836,6.579999e-09,SELL,30.1699,624.019613,20.704220,0.020704,BASE,2,2,0,1045.511233,1,None
4,6,2021-04-25 04:00:00,1096.893695,473.635503,2.149062e+01,BUY,28.9857,21.490624,623.544333,0.623544,QUOTE,3,2,0,1005.184485,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
577,2362,2022-05-22 20:00:00,1444.693965,1444.693965,2.139984e-09,SELL,9.9800,1066.608984,106.981629,0.106982,BASE,290,288,0,346.252009,159,None
578,2363,2022-05-23 00:00:00,1443.622383,373.111324,1.053653e+02,BUY,10.1600,105.365262,1071.582641,1.071583,QUOTE,291,288,0,352.144185,None,None
579,2369,2022-05-24 00:00:00,1413.079101,1413.079101,9.709993e-09,SELL,9.8800,1039.967777,105.365262,0.105365,BASE,291,289,0,342.439424,160,None
580,2370,2022-05-24 04:00:00,1412.027204,361.182889,1.049795e+02,BUY,10.0100,104.979452,1051.896211,1.051896,QUOTE,292,289,0,346.945206,None,None
581,2383,2022-05-26 08:00:00,1382.660253,1382.660253,3.119965e-09,SELL,9.7400,1021.477363,104.979452,0.104979,BASE,292,290,0,337.587044,161,None

In [20]:
df['trade_no'] = df['trade_no'].fillna(method='bfill')

In [21]:
Volume= df[df.trade_type=="BUY"].groupby('trade_no')['paid_amounts'].sum()/100000

In [24]:
Time1= df[df.trade_type=="BUY"].groupby('trade_no').datetime.first()
Time2= df[df.trade_type=="SELL"].groupby('trade_no').datetime.last()

In [29]:
# Calculate each trade real volume to calculate weighted average Price for real aggregated trades
df['Volume']= df.apply(lambda x: x.paid_amounts / x.buy_or_sell_price if x.trade_type == 'BUY' else x.received_amounts / x.buy_or_sell_price, axis=1)

In [38]:
df['sum_product']= df['buy_or_sell_price'] * df['Volume']

In [43]:
Price1= df[df.trade_type == "BUY"].groupby('trade_no')['sum_product'].sum() / df[df.trade_type == "BUY"].groupby('trade_no')['Volume'].sum()
Price2= df[df.trade_type == "SELL"].groupby('trade_no')['sum_product'].sum() / df[df.trade_type == "SELL"].groupby('trade_no')['Volume'].sum()

In [75]:
Profit= df[df.trade_type == "SELL"].groupby('trade_no')['received_amounts'].sum() - df[df.trade_type == "BUY"].groupby('trade_no')['paid_amounts'].sum()

In [32]:
# Correction of QUOTE commissions with real (base) commission
df.loc[df.trade_type == 'SELL', 'payment_commission'] =df[df.trade_type == 'SELL'].apply(lambda x: x.payment_commission * x.buy_or_sell_price, axis=1)

In [34]:
Commission= df.groupby('trade_no')['payment_commission'].sum()

Building output

In [68]:
Balance = pd.DataFrame([[pd.to_datetime(df.datetime[0]), 'Balance', 0.0, 0, 0.0, 0, 0, 0, 0.0, 0.0, 0, df.buy_and_hold[0], 0]], columns=['Time1', 'Type', 'Volume', 'Symbol', 'Price1', 'S/L', 'T/P', 'Time2',
                                                                                                                                         'Price2', 'Commission', 'Swap', 'Profit', 'Comment'])

In [76]:
zeros= [0]*len(Time1)
Type = ['BUY']*len(Time1)
Symbol = [csvfile_list[0][:-4]]*len(Time1)
out = pd.DataFrame({'Time1': Time1, 'Type': Type, 'Volume': Volume, 'Symbol': Symbol, 'Price1': Price1, 'S/L': zeros, 'T/P': zeros, 'Time2': Time2,
                    'Price2': Price2, 'Commission': Commission, 'Swap': zeros, 'Profit': Profit, 'Comment': zeros})

In [64]:
Balance

,Time,Type,Volume,Symbol,Price,S/L,T/P,Time,Price,Commission,Swap,Profit,Comment
0,2021-04-24 04:00:00,Balance,0.0,0,0.0,0,0,0,0.0,0.0,0,1100.0,0

In [67]:
out

,Time1,Type,Volume,Symbol,Price1,S/L,T/P,Time2,Price2,Commission,Swap,Profit,Comment
trade_no,,,,,,,,,,,,,
0,2021-04-24 04:00:00,BUY,0.006258,DOTUSDT,31.72810,0,0,2021-04-24 08:00:00,31.560700,1.247732,0,-0.167400,0
1,2021-04-24 16:00:00,BUY,0.006223,DOTUSDT,30.02630,0,0,2021-04-24 20:00:00,30.169900,1.246938,0,0.143600,0
2,2021-04-25 04:00:00,BUY,0.006235,DOTUSDT,28.98570,0,0,2021-04-25 20:00:00,29.637427,1.260471,0,0.651727,0
3,2021-04-26 08:00:00,BUY,0.006287,DOTUSDT,32.41400,0,0,2021-04-26 12:00:00,32.941000,1.266945,0,0.527000,0
4,2021-04-26 20:00:00,BUY,0.006339,DOTUSDT,33.03600,0,0,2021-04-28 00:00:00,34.843098,1.301749,0,1.807098,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,2022-05-18 12:00:00,BUY,0.011073,DOTUSDT,10.37367,0,0,2022-05-19 20:00:00,9.950000,2.168245,0,-0.423670,0
158,2022-05-20 08:00:00,BUY,0.010737,DOTUSDT,9.91000,0,0,2022-05-21 16:00:00,9.910000,2.146385,0,0.000000,0
159,2022-05-22 16:00:00,BUY,0.010795,DOTUSDT,10.08000,0,0,2022-05-22 20:00:00,9.980000,2.147131,0,-0.100000,0
160,2022-05-23 00:00:00,BUY,0.010716,DOTUSDT,10.16000,0,0,2022-05-24 00:00:00,9.880000,2.112591,0,-0.280000,0
161,2022-05-24 04:00:00,BUY,0.010519,DOTUSDT,10.01000,0,0,2022-05-26 08:00:00,9.740000,2.074396,0,-0.270000,0

In [77]:
out= pd.concat([Balance, out])

In [ ]:
out= out.rename(columns={'Time1':'Time', 'Time2': 'Time', 'Price1': 'Price', 'Price2':'Price'})

In [ ]:
out.to_csv()